.form{
    margin-block-start: 1rem;
}

.form-header{
    block-size: 4rem;
    border-radius: 4px;
}

.form-header p{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.form-input input::placeholder{
    color: #000000;
}

.form-input .input-field input[type=email] , [type=tel] , [type=text] , [type=number] {
    border-bottom: 1px solid #fad68c !important;
    box-shadow: 0 1px 0 0 #fad68c !important;
  }

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 24px;
    width: 24px;
    border: 2px solid #f5a52d;
    border-radius: 6px;
    background-color: #fff8e9;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 2px;
    left: 3px;
    width: 8px;
    height: 13px;
    border-right: 2px solid #fff8e9;
    border-bottom: 2px solid #fff8e9;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    width: 24px;
    height: 24px;
    border: 2px solid #f5a52d;
    border-radius: 6px;
    background-color: #f5a52d;
}

.form-input .waves-effect{
    display: block;
}

.form-input .btn, .form-input .btn-large, .form-input .btn-small{
    /* padding: 1rem; */
    background-color: #fdcb46;
    color: black;
    font-weight: bold;
    /* font-size: 2rem; */
}

/* .form-input .btn, .form-input .btn-large, .form-input .btn-small */